
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "mixins";
@import "reset";
@import "predefine";
@import "header";
@import "banner";
@import "blog";
//@import "contact";
@import "elements";
@import "home";
@import "responsive";
@import "footer";
